/* 基本色変数 --mc10--mc90等末尾10単位で透明度(濃さ)を調整　--title1はページタイトル背景画像に色を混ぜる*/
/* メイン画像(トリム無し)を使用の場合はタブレット以下の画像を用意し「表示」選択で切り替える
<budoux-ja>タグ：文節自動改行(単語の途中で改行されない)
・汎用クラス解説
budoux：<budoux-ja>タグで囲む 
txmc,txsc等：文字色を↑基本色に変更(半強制)
img1-1など：画像比率を強制。img3-2等
COVER：img~の画像比率に合わせてトリミング
img30などimg20~60：it01 ti01で画像サイズを強制。
AIS AIC AIE :順に上揃え、中央揃え、下揃え、無しはAISに類似
その他余白
mt20:20px   mt1e:一文字分   mt1p:1% */
:root{
  --title1:var(--un);
  --linkC:var(--mc);
  
  --mc:#012e24;/* 濃い緑 */ 
  --sc:#006a26;/* 緑 */ 
  --bc:#f7f7f7;/* 薄いグレー*/
  --ac:#be0303;/* 赤 */ 
  --tx:#222;/* 文字色  */
  --gr:#aaa;/* グレー */ 
  --bk:#111; 
  --wh:#fff; 

  --bodyFF:  YakuHanJP_Narrow, "Noto Sans JP", var(--San);  
  --Eng: "Jost", "Noto Sans JP", var(--San); 
}
/*ページタイトル背景画像 　blend-mode>淡色lighten濃色multiply */

.title1{
  background-blend-mode: multiply;

  /* background-image: url(images/home/title1.png); */
  /* background-size: auto 70%; */
  /* background-position: 90%; */
  /* background-image: url(images/home/title1.jpg); */
}
/* 下層card~の画像比率 */
/* :where(html:not(.home) [class*=card]) img{ */
  /* aspect-ratio: 3/2; */
  /* background-color: var(--BC); */
/* } */
/*○○px以下でmv画像の中央位置を調整*/
/* @media (max-width: 834px){
    #contents :is(.mv_slide,.mv_img) :is(img,video){
        object-position: 0%;
    }
}  */
