@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100..900&family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css");
:root {
  --Ser: "Noto Serif JP", serif;
  --San:
  "Noto Sans JP",
  "メイリオ", Meiryo,
  -apple-system, /* iOS/macOS */
  BlinkMacSystemFont, /* macOS Safari/Chrome */
  "Hiragino Sans", "Hiragino Kaku Gothic ProN", /* macOS日本語 */
  "Yu Gothic Medium", "Yu Gothic", "Meiryo", /* Windows */
  "Roboto", "Noto Sans CJK JP", /* Android */
  sans-serif;
  --bodyFF: "Noto Sans JP", sans-serif;
  --Eng: "Noto Sans JP", sans-serif;
}

.Ser {
  font-family: var(--Ser);
}

.San {
  font-family: var(--San);
}

.Eng {
  font-family: var(--Eng);
}

html {
  font-size: 100%;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html:has(.h.active, .policy-wrap.active, .modal.active) {
  overflow: hidden;
}

span {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: var(--h1FZ);
}

h2 {
  font-size: var(--h2FZ);
}

h3 {
  font-size: var(--h3FZ);
}

h5,
h4 {
  font-size: var(--h3FZ);
}

.into {
  padding-inline: var(--into);
}

:root {
  --un: unset;
  --inh: inherit;
  --cur: currentColor;
  --tr: transparent;
  --mc: #2db542;
  --sc: #3194c9;
  --ac: #512db5;
  --bc: #fbf9ef;
  --tc: #333;
  --gr: #666;
  --bk: #000;
  --wh: #fff;
}

:root {
  --head: 84px;
}
@media (max-width: 767px) {
  :root {
    --head: 60px;
  }
}
:root {
  --wid: 1080px;
  --MY: 120px;
  --MY25: calc(var(--MY)/4);
  --MY5: calc(var(--MY)/2);
  --MY75: calc(var(--MY)/4*3);
  --15MY: calc(var(--MY)*1.5);
  --2MY: calc(var(--MY)*2.0);
  --25MY: calc(var(--MY)*2.5);
  --into: calc(50vw - clamp(0px, 50vw - var(--PX, 20px), (var(--wid, 1080px) / 2)));
  --in1800: calc(50vw - clamp(0px, 50vw - var(--PX, 20px), 900px));
  --in1728: calc(50vw - clamp(0px, 50vw - var(--PX, 20px), 864px));
  --in1680: calc(50vw - clamp(0px, 50vw - var(--PX, 20px), 840px));
  --in1560: calc(50vw - clamp(0px, 50vw - var(--PX, 20px), 780px));
  --in1536: calc(50vw - clamp(0px, 50vw - var(--PX, 20px), 768px));
  --in1440: calc(50vw - clamp(0px, 50vw - var(--PX, 20px), 720px));
  --in1320: calc(50vw - clamp(0px, 50vw - var(--PX, 20px), 660px));
  --in1200: calc(50vw - clamp(0px, 50vw - var(--PX, 20px), 600px));
  --in1080: calc(50vw - clamp(0px, 50vw - var(--PX, 20px), 540px));
  --in1000: calc(50vw - clamp(0px, 50vw - var(--PX, 20px), 500px));
  --in960: calc(50vw - clamp(0px, 50vw - var(--PX, 20px), 480px));
  --in840: calc(50vw - clamp(0px, 50vw - var(--PX, 20px), 420px));
  --in720: calc(50vw - clamp(0px, 50vw - var(--PX, 20px), 360px));
  --out: calc(50% - 50vw);
}

:root {
  --bodyFZ: 1rem;
}
@media (max-width: 834px) {
  :root {
    --bodyFZ: 0.875rem;
  }
}
:root {
  --h1FZ: clamp(24px, 4.8vw, 48px);
  --h2FZ: clamp(20px, 3.2vw, 32px);
  --h3FZ: clamp(18px, 2.4vw, 24px);
}

:root {
  --MY: 4rem;
  --PX: 1.5rem;
  --PX2: calc(var(--PX) * 2);
  --gap: 2rem;
  --gapN: calc(var(--gap)*-1);
  --gapH: calc(var(--gap)/2);
}
@media (max-width: 1440px) {
  :root {
    --gap: 16px;
  }
}
@media (max-width: 768px) {
  :root {
    --MY: 40px;
  }
}

:root {
  --bds: solid;
  --bdw: 1px;
  --bdc: var(--SC);
  --line: var(--bdw, 1px) var(--bds, solid) var(--bdc, var(--SC));
  --rad: 0vmin;
  --rad2: calc(var(--rad)*2);
  --radH: calc(var(--rad)/2);
  --sheetR: var(--un, unset);
  --sheetBG: var(--BC);
  --sheetP: 3vmin;
}

body {
  font-size: var(--bodyFZ, 1em);
  overflow-x: hidden;
  font-family: var(--bodyFF, sans-serif);
  font-weight: 500;
  line-height: 2;
  letter-spacing: 0.025em;
  color: var(--tc);
  font-style: normal;
  background-color: unset;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  padding-inline: var(--PX);
}

main > * {
  width: var(--wid, 1080px);
  max-width: 100%;
  margin-inline: auto;
  position: relative;
}
main > * + * {
  margin-top: var(--MY);
}
main > *:is(script, input[type=hidden]) {
  margin-top: unset;
}

.wrapper {
  padding-block: var(--MY);
  margin-inline: var(--out);
  max-width: unset;
  width: unset;
  position: relative;
}
.wrapper > * {
  margin-inline: auto;
  max-width: 100%;
}
.wrapper > * + * {
  margin-top: var(--MY);
}

.wid {
  width: var(--wid, 1080px);
}

.PX {
  padding-inline: var(--PX);
}

.MY {
  margin-block: var(--MY);
}

.intoL {
  padding-left: var(--into);
}

.intoR {
  padding-right: var(--into);
}

.out {
  margin-inline: var(--out);
  max-width: unset;
  width: unset;
}

.outR {
  margin-right: var(--out);
  max-width: unset;
}

.outL {
  margin-left: var(--out);
  max-width: unset;
}

:where(.Cards) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--gap);
}
:where(.Cards) .btn {
  min-width: 100%;
}
:where(.Cards) .item {
  width: var(--itemW);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  margin-top: unset;
}
:where(.Cards) .item img {
  width: 100%;
}
:where(.Cards).IsLayer .item {
  display: grid;
}
:where(.Cards).IsLayer .item > * {
  grid-area: 1/1;
  z-index: 1;
}
:where(.Cards).IsLayer .item figure {
  width: 100%;
  height: 100%;
  margin: 0;
}
:where(.Cards).IsLayer .item figure img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
:where(.Cards).IsGrow .item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: auto;
}
:where(.Cards).IsFix {
  --itemW: 240px;
}
:where(.Cards).IsFix .item {
  width: var(--itemW, 240px);
}
:where(.Cards).col1 {
  --itemW: calc((100% - (var(--gap) * 0)) / 1);
}
:where(.Cards).col2 {
  --itemW: calc((100% - (var(--gap) * 1)) / 2);
}
:where(.Cards).col3 {
  --itemW: calc((100% - (var(--gap) * 2)) / 3);
}
:where(.Cards).col4 {
  --itemW: calc((100% - (var(--gap) * 3)) / 4);
}
:where(.Cards).col5 {
  --itemW: calc((100% - (var(--gap) * 4)) / 5);
}
:where(.Cards).col6 {
  --itemW: calc((100% - (var(--gap) * 5)) / 6);
}
@media (max-width: 767px) {
  :where(.Cards):not(.bp-sm) > .item {
    width: calc(50% - var(--gap) / 2);
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}
@media (max-width: 639px) {
  :where(.Cards):is(.bp-sm) > .item {
    width: calc(50% - var(--gap) / 2);
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
}
@media (max-width: 479px) {
  :where(.Cards):not(.min2) > .item {
    width: 100%;
  }
}

:root {
  interpolate-size: allow-keywords;
}

:where(.Toggle)::details-content {
  -webkit-transition: height 0.4s ease, content-visibility 0.4s allow-discrete;
  transition: height 0.4s ease, content-visibility 0.4s allow-discrete;
  height: 0;
  overflow: hidden;
}
:where(.Toggle)[open]::details-content {
  height: auto;
}
:where(.Toggle) summary {
  list-style: none;
  outline: none;
  cursor: pointer;
  position: relative;
  background-color: var(--qBG, var(--BC));
  padding: 1em;
  padding-right: 2.5em;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
:where(.Toggle) summary:hover {
  opacity: 0.8;
}
:where(.Toggle) summary::-webkit-details-marker {
  display: none;
}
:where(.Toggle) summary:after {
  content: ">";
  font-weight: 900;
  font-family: var(--icon, inherit);
  font-size: 1.5em;
  color: #888;
  position: absolute;
  right: 1em;
  top: 50%;
  translate: 0 -50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  rotate: 90deg;
}
:where(.Toggle)[open] summary:after {
  rotate: -90deg;
}
:where(.Toggle) > div {
  position: relative;
  padding: 1em;
  background-color: var(--aBG, var(--wh, #fff));
}
:where(.Toggle) .has_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em;
  width: 100%;
}
:where(.Toggle) .has_img figure {
  max-width: 100%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: var(--imgW, 30%);
  margin-left: auto;
}
:where(.Toggle) .has_img figure img {
  width: 100%;
  height: auto;
  display: block;
}
:where(.Toggle) .has_img > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 767px) {
  :where(.Toggle) .has_img:not(.bp-sm) figure {
    width: 100%;
    margin-left: unset;
  }
}
@media (max-width: 639px) {
  :where(.Toggle) .has_img:is(.bp-sm) figure {
    width: 100%;
    margin-left: unset;
  }
}
:where(.Toggle).IsQa summary,
:where(.Toggle).IsQa > div {
  padding-left: 4em;
}
:where(.Toggle).IsQa summary:before,
:where(.Toggle).IsQa > div:before {
  content: "";
  font-family: var(--bfFF, var(--Eng));
  color: var(--bfC, var(--wh, #fff));
  background-color: var(--bfBG, var(--mc));
  display: block;
  position: absolute;
  left: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: var(--bfRad, var(--rad));
  width: 2em;
  aspect-ratio: 1;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}
:where(.Toggle).IsQa summary:before {
  content: "Q";
}
:where(.Toggle).IsQa > div:before {
  content: "A";
  background-color: var(--abfBG, var(--AC));
}

:where(.Panel) {
  position: relative;
  --mt: var(--MY5);
  --p: 1em;
  --bg: var(--BC);
  --beforeFZ: 75%;
  --beforeC: var(--mc);
  --afterW: 2em;
  --afterBG: var(--SC);
  --imgW: 30%;
}
:where(.Panel) .item {
  background-color: var(--bg, var(--BC));
  counter-increment: cnt;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: var(--rad);
  padding: var(--p, 1em);
  gap: var(--gap);
  position: relative;
}
:where(.Panel) .item + .item {
  margin-top: var(--gap);
}
:where(.Panel) .item figure {
  width: var(--imgW, 30%);
}
:where(.Panel) .item figure:is(.IsRev *) {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
:where(.Panel) .item figure img {
  width: 100%;
  height: auto;
  display: block;
}
:where(.Panel) .item > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
:where(.Panel) .item > div .sub {
  font-size: 0.75em;
  color: var(--mc);
  margin-right: 0.5em;
}
@media (max-width: 767px) {
  :where(.Panel) .item:not(.bp-sm) figure {
    width: 100%;
  }
}
@media (max-width: 639px) {
  :where(.Panel) .item:is(.bp-sm) figure {
    width: 100%;
  }
}
:where(.Panel).img20 {
  --imgW: 20%;
}
:where(.Panel).img30 {
  --imgW: 30%;
}
:where(.Panel).img40 {
  --imgW: 40%;
}
:where(.Panel).img50 {
  --imgW: 50%;
}
:where(.Panel).IsFlow .item + .item {
  margin-top: calc(var(--afterW, 2em) + 2em);
}
:where(.Panel).IsFlow .item:after {
  content: "";
  display: block;
  position: absolute;
  top: calc(100% + 1em);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: var(--afterW, 2em);
  aspect-ratio: 1;
  background-color: var(--afterBG, var(--SC));
  clip-path: polygon(0 0%, 50% 85%, 100% 0%);
}
:where(.Panel).IsFlow .item:last-child:after {
  display: none;
}

:where(.Flex55) > * {
  width: calc(50% - var(--gap) / 2);
}

:where(.Flex46) {
  --few: 40%;
}
:where(.Flex46) > :where(:nth-child(1)) {
  width: calc(var(--few));
}
:where(.Flex46) > :where(:nth-child(2)) {
  width: calc(100% - var(--few) - var(--gap));
}

:where(.Flex64) {
  --few: 40%;
}
:where(.Flex64) > :where(:nth-child(1)) {
  width: calc(100% - var(--few) - var(--gap));
}
:where(.Flex64) > :where(:nth-child(2)) {
  width: calc(var(--few));
}

:where(.Flex37) {
  --few: 30%;
}
:where(.Flex37) > :where(:nth-child(1)) {
  width: calc(var(--few));
}
:where(.Flex37) > :where(:nth-child(2)) {
  width: calc(100% - var(--few) - var(--gap));
}

:where(.Flex73) {
  --few: 30%;
}
:where(.Flex73) > :where(:nth-child(1)) {
  width: calc(100% - var(--few) - var(--gap));
}
:where(.Flex73) > :where(:nth-child(2)) {
  width: calc(var(--few));
}

:where(.Flex28) {
  --few: 20%;
}
:where(.Flex28) > :where(:nth-child(1)) {
  width: calc(var(--few));
}
:where(.Flex28) > :where(:nth-child(2)) {
  width: calc(100% - var(--few) - var(--gap));
}

:where(.Flex82) {
  --few: 20%;
}
:where(.Flex82) > :where(:nth-child(1)) {
  width: calc(100% - var(--few) - var(--gap));
}
:where(.Flex82) > :where(:nth-child(2)) {
  width: calc(var(--few));
}

:where(.Flex55, .Flex28, .Flex37, .Flex46, .Flex64, .Flex73, .Flex82) {
  gap: var(--gap);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
:where(.Flex55, .Flex28, .Flex37, .Flex46, .Flex64, .Flex73, .Flex82) img {
  width: 100%;
}
@media (max-width: 767px) {
  :where(.Flex55, .Flex28, .Flex37, .Flex46, .Flex64, .Flex73, .Flex82):not(.bp-sm) > * {
    width: 100%;
  }
}
@media (max-width: 639px) {
  :where(.Flex55, .Flex28, .Flex37, .Flex46, .Flex64, .Flex73, .Flex82):is(.bp-sm) > * {
    width: 100%;
  }
}

.ImgText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: var(--gap);
  --imgW: calc(50% - var(--gap)/2);
}
.ImgText.img100 {
  --imgW: 100%;
}
.ImgText.img95 {
  --imgW: 95%;
}
.ImgText.img90 {
  --imgW: 90%;
}
.ImgText.img875 {
  --imgW: 87.5%;
}
.ImgText.img85 {
  --imgW: 85%;
}
.ImgText.img80 {
  --imgW: 80%;
}
.ImgText.img75 {
  --imgW: 75%;
}
.ImgText.img70 {
  --imgW: 70%;
}
.ImgText.img66 {
  --imgW: 66%;
}
.ImgText.img65 {
  --imgW: 65%;
}
.ImgText.img60 {
  --imgW: 60%;
}
.ImgText.img55 {
  --imgW: 55%;
}
.ImgText.img50 {
  --imgW: 50%;
}
.ImgText.img45 {
  --imgW: 45%;
}
.ImgText.img40 {
  --imgW: 40%;
}
.ImgText.img35 {
  --imgW: 35%;
}
.ImgText.img33 {
  --imgW: 33%;
}
.ImgText.img30 {
  --imgW: 30%;
}
.ImgText.img25 {
  --imgW: 25%;
}
.ImgText.img20 {
  --imgW: 20%;
}
.ImgText.img10 {
  --imgW: 10%;
}
.ImgText figure {
  width: var(--imgW, calc(50% - var(--gap) / 2));
  margin-inline: auto;
}
.ImgText figure > a,
.ImgText figure img {
  display: block;
  width: 100%;
  height: auto;
}
.ImgText > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 767px) {
  .ImgText:not(.bp-sm) figure {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
}
@media (max-width: 639px) {
  .ImgText:is(.bp-sm) figure {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
  }
}
.ImgText.IsRev figure {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (max-width: 767px) {
  .ImgText.IsRev:not(.bp-sm) figure {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
}
@media (max-width: 639px) {
  .ImgText.IsRev:is(.bp-sm) figure {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
}/*# sourceMappingURL=RatioKit.css.map */