---
interface Props {
  class?: string
  style?: Record<string, string>
}

const { class: className = '', style } = Astro.props
---

<div class={`Cards ${className}`} style={style}>
  <slot />
</div>
