@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* font-size: var(--FZ);
	overflow-x: hidden;
	font-family: var(--FF);
	font-weight: var(--FW); */
	line-height: var(--LH);
	letter-spacing: var(--LS);
	/* color: var(--TC);
	font-style: normal;
	background-color: var(--background); */
}
h1 {
    font-size: var(--h1FZ);
}
h2 {
    font-size: var(--h2FZ);
}
h3 {
    font-size: var(--h3FZ);
}
h5,
h4 {
    font-size: var(--h3FZ);
}
h1,h2,h3,h4,h5{
        line-height: var(--HLH);
        font-family: var(--Eng)
}
